@import url('https://fonts.googleapis.com/css?family=Asap&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
    


body{
    background-color: #2ecc71;
    color: white;
}
